

body
{
/*	font-family: 'Dosis', sans-serif;*/
/*font-family: 'Dosis', sans-serif;*/
/*font-family: 'Cormorant Garamond', serif;*/
/*font-family: 'Crimson Text', serif;*/
/*font-family: 'Inconsolata', monospace;*/
font-family: 'News Cycle', sans-serif;
	letter-spacing: 0.05em;
}

h2
{
	font-weight: bold;
	font-size: 28px;
	font-family: 'Francois One', sans-serif;
	margin-top: 8%;
}

h1, h3, a
{
	font-family: 'News Cycle', sans-serif;
}


#navbar
{
	border-bottom: 1px solid grey;
	margin-bottom: 0;
}


.uk-navbar-dropdown
{

	z-index: 100;
}



.arrow
{
	width: 20px;
	margin-left: 20%;
}

.recipesMenu >.recipes > .arrow
{
	
	transition: 1s ease-in-out;
	-webkit-animation: ClockwiseSpin 0.5s;
	animation: ClockwiseSpin 0.5s;
}



.recipesMenu:hover >.recipes > .arrow
{
	-webkit-animation: antiClockwiseSpin 0.5s forwards;
	animation: antiClockwiseSpin 0.5s forwards;
}



/*.sticky
{
	z-index: -100;
	pointer-events:none;
}*/


@keyframes antiClockwiseSpin {
	0%  {transform: rotate(0deg);}
	100% {transform: rotate(180deg);}	
	}


@keyframes ClockwiseSpin {
	100%  {transform: rotate(0deg);}
	0% {transform: rotate(180deg);}	
	}


#cardContainer
{
	border-top: 1px solid grey;
	padding-top: 3%;
	margin: 0;
	width: 90%;

}

.uk-card-body
{
	/*
	padding-top: 5%;
	padding-left: 5%;
	padding-left: 5%;*/
	font-size: 18px;
}

#title, #body
{
	border: none;
	border-bottom: 1px solid #e6e6e6;
}

#title
{
	margin-top: 5%;
}