

body
{
/*	font-family: 'Dosis', sans-serif;*/
/*font-family: 'Dosis', sans-serif;*/
font-family: 'Nanum Gothic', sans-serif;
/*font-family: 'Inconsolata', monospace;*/
	letter-spacing: 0.1em;
}

h2
{
	font-weight: bold;
}



#navbar
{
	border-bottom: 1px solid grey;
}


.arrow
{
	width: 20px;
	margin-left: 10%;
}

.recipes > .arrow
{
	
	transition: 1s ease-in-out;
	-webkit-animation: ClockwiseSpin 0.5s;
	animation: ClockwiseSpin 0.5s;
}



.recipes:hover > .arrow
{
	-webkit-animation: antiClockwiseSpin 0.5s forwards;
	animation: antiClockwiseSpin 0.5s forwards;
}


@keyframes antiClockwiseSpin {
	0%  {transform: rotate(0deg);}
	100% {transform: rotate(180deg);}	
	}


@keyframes ClockwiseSpin {
	100%  {transform: rotate(0deg);}
	0% {transform: rotate(180deg);}	
	}


#cardContainer
{
	border-top: 1px solid grey;
	padding-top: 3%;
	margin: 0;
	width: 90%;
}

.uk-card-body
{
	/*
	padding-top: 5%;
	padding-left: 5%;
	padding-left: 5%;*/
}

#title, #body
{
	border: none;
	border-bottom: 1px solid #e6e6e6;
}

#title
{
	margin-top: 5%;
}